
CWC-Receta/CWC-Receta.xcodeproj/project.xcworkspace/xcuserdata/mgonzalez506.xcuserdatad/UserInterfaceState.xcuserstate
CWC-Receta-Challenges/CWC-Receta-Challenges.xcodeproj/project.xcworkspace/xcuserdata/mgonzalez506.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
CWC-Receta-Challenges/.DS_Store
*.xcuserstate
CWC-Receta-Challenges/CWC-Receta-Challenges.xcodeproj/project.xcworkspace/xcuserdata/mgonzalez506.xcuserdatad/UserInterfaceState.xcuserstate
CWC-Receta-Challenges/CWC-Receta-Challenges.xcodeproj/project.xcworkspace/xcuserdata/mgonzalez506.xcuserdatad/UserInterfaceState.xcuserstate
